*{
    background-image: url(https://images.pexels.com/photos/6044820/pexels-photo-6044820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

h1{
    color:white;
    text-align: center;
    font-weight:200px;
}

p{
    color:white;
    text-align: center;
}
.title{
    color:rgba(247, 246, 246, 0.996);
    text-align:center;
    font-size:100px ;

}
.image-1{
  display:flex;
  justify-content:center;

}

.image{
    width:100px;
    height:100px;
}
#t_field{
    display:flex;
    justify-content:center;
    font-size: 30px;
    color:white;
    

    display:inline-block;
    justify-content:center;

}
.button {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
    
    display:inline-block;
    justify-content:center;
    align-items: center;
  }
  
  .aligner{
    display:inline-block;
    justify-content:center;
    
  }

  .list{
    font-family: 'Times New Roman', Times, serif;
    color:white;
  }