*{
    background-color:rgb(125, 204, 246)
}

  .app {
    overflow-y: scroll;
    width: 450px;
    padding: 10px;
    height: 600px;
    background-color: #fff;
    border: 5px solid #a9004c;
    border-radius: 10px;

  }
  
  .app::-webkit-scrollbar {
    width: 0 !important;
  }
  
  #addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#a9004c;;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fa-plus {
    background-color: #a9004c;
    padding: 3px;
    border-radius: 3px;
  }
  
  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #a9004c;
    background-color: rgb(248, 204, 240);
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }
  
  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }
  
  #msg {
    color: red;
  }
  body{
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  